body {
    font-family: 'Open Sans', sans-serif;
}

/* LOADING ANIMATION */

.loading {
    width: 200px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -40px;
    font-size: 36px;
    perspective: 800px;
}

.loading > .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    text-align: center;
}

.loading > .card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.loading > .card .front {
}
.loading > .card .back {
    transform: rotateX( 180deg );
}

.loading > .card {
    animation-duration: 1s;
    animation-name: loadingflip;
    animation-iteration-count: infinite;
}

body .loading:before {
    content: '「';
    color: #777;
    position: absolute;
    left: -40px;
    line-height: 40px;
}
body .loading:after {
    content: '」';
    color: #777;
    position: absolute;
    right: -40px;
    line-height: 40px;
}

@keyframes loadingflip {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(180deg);
  }
  100% {
      transform: rotateX(360deg);
  }
}

/* FADEIN/OUT */

.fadeout.ng-hide-add, .fadein.ng-hide-remove {
    transition: 0.3s linear opacity;
    opacity: 1;
}

.fadeout.ng-hide {
    opacity: 0;
}

.fadeout.ng-leave {
     transition: 0.3s linear opacity;
     opacity: 1;
}

.fadeout.ng-leave.ng-leave-active {
    opacity: 0;
}

.fadein.ng-enter {
     transition: 0.3s linear opacity;
     opacity: 0;
}

.fadein.ng-enter.ng-enter-active {
    opacity: 1;
}

/* LOGIN */

.login {
    width: 263px;
    font-size: 36px;
}

.login input {
    font-size: 0.7em;
}

.login .header {
    text-align: center;
    white-space: nowrap;
    margin: 0;
    color: #777;
    font-size: 24px;
}

/* MENUS */

.menu {
    width: 263px;
    font-size: 36px;
}

.menu > .header {
}

.menu > .options {
    text-align: right;
    margin-bottom: 0px;
}

.menu > .options {
    list-style-type: none;
}

.menu > .options > li > a {
    text-decoration: none;
    color: black;
}

.menu > .options > li > a:hover {
    color: #777;
    cursor: pointer;
}

/* CONFIGS */

.config .header .title {
    font-size: 20px;
    float: left;
}

.config .header .title:before {
    content: '「';
    color: #777;
}

.config .header .title:after {
    content: '」';
    color: #777;
}

.config .content .columns {
    -moz-columns: auto;
    -webkit-columns: auto;
    columns: auto;
}

.config .options {
    margin: 2px 0 0 0;
    padding-left: 0;
    list-style-type: none;
    display: inline-flex;
}

.config .options > li {
    margin-right: 10px;
}

.config .options > li > a {
    color: black;
}

.config .options > li > a:hover {
    color: #777;
}

.config .header:after {
    content: '';
    display: block;
    clear: both;
}

/* NEW CONCEPT */

.edit-concept form {
    padding: 0 20px 20px 20px;
    width: 300px;
}

.edit-concept .header {
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #777;
    text-align: center;
    transform: translateX(-15%);
    width: 150px;
}

.edit-concept section {
    padding-bottom: 5px;
}

.edit-concept .switches {
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}

.edit-concept label {
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}

.edit-concept form select {
    margin-left: -4px;
}

.edit-concept form input[type=submit] {
    position: absolute;
    right: 20px;
}

/* CARDS */

.cards {
    font-size: 1.5em;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
}

.cards .card {
    width: 400px;
    height: 150px;
    padding: 20px;
    border: 5px solid #777;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.cards .card.correct {
    border-color: #009800;
}

.cards .card.incorrect {
    border-color: #e11d21;
}

.cards .languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards .languages .language {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.japanese {
    font-family: "ＭＳ Ｐ明朝";
}

.cards .sep {
    font-size: 3em;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cards .language, .cards .text {
    text-align: center;
}

.cards .text {
    font-size: 2.5em;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.cards .back input {
    border: 0;
    width: 100%;
    padding: 0;
    display: block;
    border-radius: 0;
    text-align: center;
    font-size: 1em;
    flex: 1;
}

.cards .back input:disabled {
    background-color: white;
    color: black;
    cursor: text;
}

.cards .back input:focus {
    outline: 0;
}

.cards .incorrect input {
    text-decoration: line-through;
}

.cards .answer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}